.background-container{
background-color: bisque;
}

button.nav-link,
button.nav-link:not(:disabled):not(.disabled).active, 
button.nav-link:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-image: none;
  background-color: transparent;
  border: none;
  border-color: transparent; 
  box-shadow: none;
  outline: none;
}

button.nav-link:focus, button.nav-link:hover {
    color: #fff!important;
    border: none;
    border-color: transparent;
    text-decoration: none!important;
    background-color: gray;
  }