@font-face {
  font-family: myFont;
  src: url(./fonts/MyriadPro-Light.otf);
}
@font-face {
  font-family: myFontRegular;
  src: url(./fonts/MyriadPro-regular.OTF);}

/* a {
    color: #26476a!important;
} */
.background-container{
background-color: #54bcbe;
  background-image: url(fondo.png);
  background-repeat: repeat;
  padding: 15px;
}

.container-menu{
  /* background-color: #54bcbe; */
    background-image: url(fondo.png);
    background-repeat: repeat;
    padding: 15px;
  }

.titulares-menu {
  font-family: myFontRegular;
  font-weight: bold;
  color: #26476a;
}

.background-pie{
  background-color: #54bcbe;
  color: white;
  font-family: myFontRegular;
  font-size: 1.5rem;
}

.padding-card {
  padding: 1rem;
  background-color: transparent!important;
  border: none!important;
}

.card-header {
  /* background-color: rgb(118, 201, 203) !important; */
  background-color: #54bcbe!important;
  font-weight: bold;
  font-family: myFontRegular;
 }

 .modal-header {
  /* background-color: rgb(118, 201, 203) !important; */
  background-color: #54bcbe!important;
  background-image: url(fondo.png);
  background-repeat: repeat;
  padding: 15px;
  border-bottom: 5px double #26476a!important;
 }

 .modal-title{
  font-family: myFontRegular;
  font-weight: bold;
  font-size: 2rem!important;
  color: #26476a!important;
  text-shadow: 1px 1px 2px #418e90;
 }

button.close {
  background-color: white !important;
  font-family: myFontRegular !important;
  font-size: 1rem;
  font-weight: bold;
  color: #26476a!important;
}

input.btn-editorial,
.btn-editorial {
  color: #fff!important;
  font-family: myFontRegular!important;
  border-color: #54bcbe!important;
  background-color: #26476a!important;
  border: 5px double #76c9cb!important;
}
input.btn-editorial:hover,
.btn-editorial:hover {
  color: #26476a!important;
  background-color: #54bcbe!important;
  border-color: #26476a!important;
  font-weight: bold;
}

#lupa-addon {
  background-color: #76c9cb!important;
}

.fondo-menu,
.card-footer-menu {
  background-color: #26476a !important;
}

.container-memu {
  background-color : #e3e3e3!important;
}

button.btn-suscribirse {
  width: 284px;
}

button.enlaces-articulos,
a.enlaces-articulos,
.link-articulos {
  color:#219092!important;
}
.link-articulos-busqueda {
  color:#219092!important;
  text-decoration: none!important; 
}
.link-articulos-busqueda:hover {
  color: #26476a!important;
  font-weight: bold;
  text-decoration: underline!important;
}

button.enlaces-articulos:hover,
a.enlaces-articulos:hover,
.link-articulos:hover {
  color: #26476a!important;
  font-weight: bold;
  text-decoration: underline;
}

img.logo-mep {
  height: 60px;
}

.col-header {
  padding:3%;
}

 img.img-encabezado {
  width: 548px;   
} 
button.nav-link,
button.nav-link:active,
button.nav-link:not(:disabled):not(.disabled).active, 
button.nav-link:not(:disabled):not(.disabled):active, 
.show>.nav-link.dropdown-toggle,
button.btn-primary,
button.btn-primary:active,
button.btn-primary:not(:disabled):not(.disabled).active, 
button.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
  color: #fff !important;
  background-image: none;
  background-color: transparent;
  border: none;
  border-color: transparent; 
  box-shadow: none;
  outline: none;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none!important;
}
.padding-revista {
  border: none!important;
}
button.btn-tarjetas,
button.btn-tarjetas:active,
button.btn-tarjetas:not(:disabled):not(.disabled).active, 
button.btn-tarjetas:not(:disabled):not(.disabled):active, 
.show>.btn-tarjetas.dropdown-toggle {
  color: white;
  font-family: myFontRegular!important;
  font-size: 1.3rem;
  background-image: none;
  background-color: transparent;
  border: none;
  border-color: transparent; 
  box-shadow: none;
  outline: none;
}

.btn-primary {
  font-family: myFont!important;
}
button.btn-link {
  padding:0%;
}
button.btn-tarjetas:hover{
  color:white;
  font-weight: bold;
}
.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.btn-check:focus + .btn-primary, .btn-primary:focus,
.btn-check:focus + .btn-tarjetas, .btn-tarjetas:focus {
  background-color: transparent;
  border-color: transparent;
  box-shadow: 0 0 0 .25rem transparent !important;
}

button.nav-link:focus, button.nav-link:hover, 
button.navbar-brand:focus, button.navbar-brand:hover {
    color: white!important;
    font-weight: bold;
    border: none;
    border-color: transparent;
    text-decoration: none!important;
    background-color: transparent;
    outline: none;
  }


  /* Catálogo */
.nombre-autor {
  font-family: myFontRegular;
  font-weight: bold;
  font-size:1rem;
  color: black
}
.svg-inline--fa.fa-w-16 {
  color: #54bcbe;;
}
.url-enlace {
  color: black;
  /* font-family: myFont; */
  font-size: 1rem;
}
.url-enlace:hover, a.page-link {
  color:#47999b!important;
}
a.page-link{
  border: 1px solid #26476a!important;
}
a.page-link:hover{
  background-color:#26476a;
  color:white!important;
}



.alertify .ajs-dialog{
  background-color: white!important;
}

.alertify .ajs-header {
  color: black;
  font-family: "myFontRegular"!important;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  background-color: #54bcbe!important;
  background-image: url(fondo.png);
  background-repeat: repeat;
  padding: 15px;
  border-bottom: 5px solid #26476a!important;
}

button.ajs-close {
  background-color: white!important;
  border-radius: 50%;
}

.alertify .ajs-footer {
  background-color: transparent;
  padding: 20px!important;
}
.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok, 
.alertify .ajs-footer .ajs-buttons .ajs-button {
  color: white!important;
  font-size: 20px;
  border-radius: 50px;
  font-family: myFontRegular;
  cursor: pointer;
  min-width: 30%!important; 
  background-color: #26476a!important;
  border: 5px solid #54bcbe!important;;
}

.alertify .ajs-footer .ajs-buttons.ajs-primary {
  text-align: center!important;
}

.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok:hover,
.ajs-button.ajs-cancel:hover  {
  background-color:#25264e;
  font-weight: bolder;
  text-transform: uppercase;
  cursor: pointer;
}

.alertify .ajs-body {
  font-size: 20px;
  text-align: center;
  color:black;
}


  /* QUERIES */
  @media only screen and (max-width: 990px) 
{ 
  .padding-card {
    padding: 0.3rem;
  }
}
@media only screen and (max-width: 560px) {
  .background-pie{
    font-size: 1rem;
  }
  .alertify .ajs-header {
    font-size: 1rem;
  }
}